/* Write your code here. */
.congrats-card {
  background-color: #0f172a;
  color: #cffafe;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 20px;
}

.background-img {
  width: 300px;
  margin-bottom: 20px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
  margin-bottom: 10px;
}

.message {
  font-size: 18px;
  margin-bottom: 20px;
}

.watch-img {
  width: 200px;
  margin-bottom: 20px;
}
